<div class="container">
  <div class="card">
    <img src="icons/logo_Repo.png" alt="Logo de la Aplicación" class="app-logo" />
    <div class="card-header">Hola!</div>
    <div class="card-body">
      <p>Inicia sesión para comenzar</p>
      
      <div class="error-message" *ngIf="showError">
        Usuario o contraseña incorrectos
      </div>
      
      <label>Usuario o correo electrónico</label>
      <input
        type="email"
        placeholder="Usuario o correo electrónico"
        [(ngModel)]="usuario.email"
        (input)="onInputChange()"
        [class.input-error]="showError">
      
      <label>Contraseña</label>
      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="usuario.password"
        (input)="onInputChange()"
        [class.input-error]="showError">
      
      <div class="remember-me">
        <input type="checkbox" id="remember-me"/>
        <label for="remember-me">Recordarme</label>
      </div>
      
      <button (click)="Ingresa()">Iniciar sesión</button>
      <div class="register-link">
        <p>¿No tiene una cuenta? <a routerLink="/regist">Regístrese</a></p>
      </div>
    
    </div>
  </div>
</div>


